<template>
    <div v-if="showLoader" class="loader">
        <svg
            :width="`${loaderSize}px`"
            :height="`${loaderSize}px`"
            viewBox="0 0 30 30"
            xmlns="http://www.w3.org/2000/svg">
            <circle
                :style="{
                        'stroke': loaderColor,
                        'stroke-width': loaderWidth,
                        'animation-duration': loaderDuration
                        }"
                cx="15" cy="15" r="13" fill="none"
            ></circle>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "index",
        props: {
            loaderColor: {
                type: String,
                default: "#2b2b58"
            },
            loaderWidth: {
                type: String,
                default: "2px"
            },
            loaderDuration: {
                type: String,
                default: "2s"
            },
            loaderShow: {
                type: Boolean,
                default: false
            },
            loaderSize: {
                type: String,
                default: "30"
            }
        },
        data() {
            return {
                showLoader: this.loaderShow ? this.loaderShow : false
            }
        },
        watch: {
            loaderShow(val) {
                this.showLoader = val
            }
        }
    }
</script>

<style scoped>
    svg circle{
        animation-name: rotate;
        animation-iteration-count: infinite;
        stroke-dasharray: 26, 0;
        stroke-dashoffset: 0;
    }
    @keyframes rotate {
        50%{
            stroke-dasharray: 0, 26;
        }
        100% {
            stroke-dashoffset: 360;
        }
    }
</style>
