<template>
    <div>
        <div class="search-input">
            <input type="text" v-model="search" @input="getSearchResult($event)">
            <div class="search-tags">
                <input type="checkbox">
            </div>
        </div>
        <div class="search-result">
            <div class="loading">
                <loader
                        loaderColor="#ffffff"
                        :loaderShow="loading"
                ></loader>
            </div>
            <div class="box">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import ApiMethods from "../mixins/ApiMethods.js";
    import loader from "@/components/Loader";
    export default {
        name: "Search",
        mixins: [ApiMethods],
        components: {
          loader
        },
        data() {
            return {
                search: ""
            }
        },
        methods: {
            getSearchResult(event) {
                console.log(event.target.value);
                this.getDataNamesFromAPI(event.target.value)
                .then(res => {
                    console.log(res)
                })
            }
        }
    }
</script>